html,
body {
  font-size: 90%;	
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  
   padding-top: 30px;
}


/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}


tr.TRANSAC_TYPE_online_fp td{background-color:#f4e5a9 !important;}
tr.TRANSAC_TYPE_online_mp  td{background-color:#f4e5a9  !important;}
tr.TRANSAC_TYPE_offline_direct_fp  td{background-color:#a9e9f4  !important;}
tr.TRANSAC_TYPE_offline_direct_mp  td{background-color:#a9e9f4  !important;}
tr.TRANSAC_TYPE_offline_cash_fp  td{background-color:#a9e9f4  !important;}
tr.TRANSAC_TYPE_offline_cash_mp  td{background-color:#a9e9f4  !important;}
tr.TRANSAC_TYPE_expire  td{background-color:#ccc  !important;}
tr.TRANSAC_TYPE_suspended  td{background-color:#ccc  !important;}
tr.TRANSAC_TYPE_terminated  td{background-color:#ccc  !important;}

.th_fixed_width_300px{ width: 300px; text-align: right; padding-right: 5px !important;}
.custom_table_details tbody td, .custom_table_details tbody th{ padding: 3px !important}

.dataTables_wrapper .row{
	margin-left: 0px;
	margin-right: 0px;
}

.modal-header{
	cursor: pointer;
}

#reportrange {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    color: #333333;
    cursor: pointer;
    line-height: 18px;
    padding: 8px;
    width: 300px;
}

/*.daterangepicker li.active{
    background: none repeat scroll 0 0 #F5F5F5 !important;
    border: 1px solid #F5F5F5 !important;
    color: #0088CC !important;
}*/
 
#go_up { 
    cursor: pointer;
    display: none;
    bottom: 10px;
    height: 60px;
    position: fixed;
    right: 10px;
    width: 60px; 
    z-index: 100;
    font-size: 40px;
    color: #428BCA; 
} 