html,
body {
  font-size: 90%;	
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  
   padding-top: 40px;
}


/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}


tr.TRANSAC_TYPE_online_fp td{background-color:#f4e5a9 !important;}
tr.TRANSAC_TYPE_online_mp  td{background-color:#f4e5a9  !important;}
tr.TRANSAC_TYPE_offline_direct_fp  td{background-color:#a9e9f4  !important;}
tr.TRANSAC_TYPE_offline_direct_mp  td{background-color:#a9e9f4  !important;}
tr.TRANSAC_TYPE_offline_cash_fp  td{background-color:#a9e9f4  !important;}
tr.TRANSAC_TYPE_offline_cash_mp  td{background-color:#a9e9f4  !important;}
tr.TRANSAC_TYPE_expire_mem  td{background-color:#ccc  !important;}